In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('train.csv')
dataset['date'] = pd.to_datetime(dataset['date'], infer_datetime_format=True)
dataset = dataset.set_index(['id'])
#dataset = dataset.sort_values(["date", "store_nbr"], ascending = (True, True))
print(dataset)

              date  store_nbr                      family     sales  \
id
0       2013-01-01          1                  AUTOMOTIVE     0.000
1       2013-01-01          1                   BABY CARE     0.000
2       2013-01-01          1                      BEAUTY     0.000
3       2013-01-01          1                   BEVERAGES     0.000
4       2013-01-01          1                       BOOKS     0.000
...            ...        ...                         ...       ...
3000883 2017-08-15          9                     POULTRY   438.133
3000884 2017-08-15          9              PREPARED FOODS   154.553
3000885 2017-08-15          9                     PRODUCE  2419.729
3000886 2017-08-15          9  SCHOOL AND OFFICE SUPPLIES   121.000
3000887 2017-08-15          9                     SEAFOOD    16.000

         onpromotion
id
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
3000883            0
3000884            1
3000885          148
3000886            8
3000887            0

[3000888 rows x 5 columns]

In [6]:
#stworzenie dicta który zawiera dane podzielone na sklepy i kategorie; nazwy keysów: f"{store}{family}"
#odpalenie tej komórki trwa kilka minut takze cierpliwosci
stores = dataset['store_nbr'].drop_duplicates()
families = dataset['family'].drop_duplicates()
print(len(stores))
print(len(families))
dataset_dict = {}
for store in stores:
    for family in families:
        #print(f"{store} {family}")
        temp_df = dataset.loc[(dataset['store_nbr'] == store) & (dataset['family'] == family)]
        dataset_dict[f"{store}{family}"]=temp_df

54
33

In [4]:
print(dataset_dict)

{'1AUTOMOTIVE':               date  store_nbr      family  sales  onpromotion
id
0       2013-01-01          1  AUTOMOTIVE    0.0            0
1782    2013-01-02          1  AUTOMOTIVE    2.0            0
3564    2013-01-03          1  AUTOMOTIVE    3.0            0
5346    2013-01-04          1  AUTOMOTIVE    3.0            0
7128    2013-01-05          1  AUTOMOTIVE    5.0            0
...            ...        ...         ...    ...          ...
2991978 2017-08-11          1  AUTOMOTIVE    1.0            0
2993760 2017-08-12          1  AUTOMOTIVE    6.0            0
2995542 2017-08-13          1  AUTOMOTIVE    1.0            0
2997324 2017-08-14          1  AUTOMOTIVE    1.0            0
2999106 2017-08-15          1  AUTOMOTIVE    4.0            0

[1684 rows x 5 columns], '1BABY CARE':               date  store_nbr     family  sales  onpromotion
id
1       2013-01-01          1  BABY CARE    0.0            0
1783    2013-01-02          1  BABY CARE    0.0            0
3565    2013-01-03          1  BABY CARE    0.0            0
5347    2013-01-04          1  BABY CARE    0.0            0
7129    2013-01-05          1  BABY CARE    0.0            0
...            ...        ...        ...    ...          ...
2991979 2017-08-11          1  BABY CARE    0.0            0
2993761 2017-08-12          1  BABY CARE    0.0            0
2995543 2017-08-13          1  BABY CARE    0.0            0
2997325 2017-08-14          1  BABY CARE    0.0            0
2999107 2017-08-15          1  BABY CARE    0.0            0

[1684 rows x 5 columns], '1BEAUTY':               date  store_nbr  family  sales  onpromotion
id
2       2013-01-01          1  BEAUTY    0.0            0
1784    2013-01-02          1  BEAUTY    2.0            0
3566    2013-01-03          1  BEAUTY    0.0            0
5348    2013-01-04          1  BEAUTY    3.0            0
7130    2013-01-05          1  BEAUTY    3.0            0
...            ...        ...     ...    ...          ...
2991980 2017-08-11          1  BEAUTY    1.0            1
2993762 2017-08-12          1  BEAUTY    3.0            1
2995544 2017-08-13          1  BEAUTY    1.0            0
2997326 2017-08-14          1  BEAUTY    6.0            1
2999108 2017-08-15          1  BEAUTY    4.0            1

[1684 rows x 5 columns], '1BEVERAGES':               date  store_nbr     family   sales  onpromotion
id
3       2013-01-01          1  BEVERAGES     0.0            0
1785    2013-01-02          1  BEVERAGES  1091.0            0
3567    2013-01-03          1  BEVERAGES   919.0            0
5349    2013-01-04          1  BEVERAGES   953.0            0
7131    2013-01-05          1  BEVERAGES  1160.0            0
...            ...        ...        ...     ...          ...
2991981 2017-08-11          1  BEVERAGES  1006.0            3
2993763 2017-08-12          1  BEVERAGES  1659.0            7
2995545 2017-08-13          1  BEVERAGES   803.0            5
2997327 2017-08-14          1  BEVERAGES  2201.0            9
2999109 2017-08-15          1  BEVERAGES  1942.0           11

[1684 rows x 5 columns], '1BOOKS':               date  store_nbr family  sales  onpromotion
id
4       2013-01-01          1  BOOKS    0.0            0
1786    2013-01-02          1  BOOKS    0.0            0
3568    2013-01-03          1  BOOKS    0.0            0
5350    2013-01-04          1  BOOKS    0.0            0
7132    2013-01-05          1  BOOKS    0.0            0
...            ...        ...    ...    ...          ...
2991982 2017-08-11          1  BOOKS    0.0            0
2993764 2017-08-12          1  BOOKS    0.0            0
2995546 2017-08-13          1  BOOKS    0.0            0
2997328 2017-08-14          1  BOOKS    0.0            0
2999110 2017-08-15          1  BOOKS    0.0            0

[1684 rows x 5 columns], '1BREAD/BAKERY':               date  store_nbr        family      sales  onpromotion
id
5       2013-01-01          1  BREAD/BAKERY    0.00000            0
1787    2013-01-02          1  BREAD/BAKERY  470.65200            0
3569    2013-01-03          1  BREAD/BAKERY  310.65500            0
5351    2013-01-04          1  BREAD/BAKERY  198.36600            0
7133    2013-01-05          1  BREAD/BAKERY  301.05700            0
...            ...        ...           ...        ...          ...
2991983 2017-08-11          1  BREAD/BAKERY  145.60700            8
2993765 2017-08-12          1  BREAD/BAKERY  243.22000            6
2995547 2017-08-13          1  BREAD/BAKERY  136.67900            6
2997329 2017-08-14          1  BREAD/BAKERY  346.03800            9
2999111 2017-08-15          1  BREAD/BAKERY  329.54102            8

[1684 rows x 5 columns], '1CELEBRATION':               date  store_nbr       family  sales  onpromotion
id
6       2013-01-01          1  CELEBRATION    0.0            0
1788    2013-01-02          1  CELEBRATION    0.0            0
3570    2013-01-03          1  CELEBRATION    0.0            0
5352    2013-01-04          1  CELEBRATION    0.0            0
7134    2013-01-05          1  CELEBRATION    0.0            0
...            ...        ...          ...    ...          ...
2991984 2017-08-11          1  CELEBRATION    4.0            0
2993766 2017-08-12          1  CELEBRATION    3.0            0
2995548 2017-08-13          1  CELEBRATION    1.0            0
2997330 2017-08-14          1  CELEBRATION    4.0            0
2999112 2017-08-15          1  CELEBRATION   21.0            0

[1684 rows x 5 columns], '1CLEANING':               date  store_nbr    family   sales  onpromotion
id
7       2013-01-01          1  CLEANING     0.0            0
1789    2013-01-02          1  CLEANING  1060.0            0
3571    2013-01-03          1  CLEANING   836.0            0
5353    2013-01-04          1  CLEANING   827.0            0
7135    2013-01-05          1  CLEANING   811.0            0
...            ...        ...       ...     ...          ...
2991985 2017-08-11          1  CLEANING   341.0            7
2993767 2017-08-12          1  CLEANING   351.0            8
2995549 2017-08-13          1  CLEANING   169.0            5
2997331 2017-08-14          1  CLEANING   571.0           11
2999113 2017-08-15          1  CLEANING   703.0           10

[1684 rows x 5 columns], '1DAIRY':               date  store_nbr family  sales  onpromotion
id
8       2013-01-01          1  DAIRY    0.0            0
1790    2013-01-02          1  DAIRY  579.0            0
3572    2013-01-03          1  DAIRY  453.0            0
5354    2013-01-04          1  DAIRY  460.0            0
7136    2013-01-05          1  DAIRY  464.0            0
...            ...        ...    ...    ...          ...
2991986 2017-08-11          1  DAIRY  343.0           14
2993768 2017-08-12          1  DAIRY  526.0           19
2995550 2017-08-13          1  DAIRY  266.0           15
2997332 2017-08-14          1  DAIRY  699.0           23
2999114 2017-08-15          1  DAIRY  602.0           19

[1684 rows x 5 columns], '1DELI':               date  store_nbr family    sales  onpromotion
id
9       2013-01-01          1   DELI    0.000            0
1791    2013-01-02          1   DELI  164.069            0
3573    2013-01-03          1   DELI  151.582            0
5355    2013-01-04          1   DELI  131.411            0
7137    2013-01-05          1   DELI  118.613            0
...            ...        ...    ...      ...          ...
2991987 2017-08-11          1   DELI   64.302           35
2993769 2017-08-12          1   DELI   99.488            3
2995551 2017-08-13          1   DELI   47.770            4
2997333 2017-08-14          1   DELI  154.578            7
2999115 2017-08-15          1   DELI  116.402            5

[1684 rows x 5 columns], '1EGGS':               date  store_nbr family  sales  onpromotion
id
10      2013-01-01          1   EGGS    0.0            0
1792    2013-01-02          1   EGGS  246.0            0
3574    2013-01-03          1   EGGS  203.0            0
5356    2013-01-04          1   EGGS  171.0            0
7138    2013-01-05          1   EGGS  177.0            0
...            ...        ...    ...    ...          ...
2991988 2017-08-11          1   EGGS   86.0           24
2993770 2017-08-12          1   EGGS  113.0            0
2995552 2017-08-13          1   EGGS   60.0            0
2997334 2017-08-14          1   EGGS  170.0            0
2999116 2017-08-15          1   EGGS  131.0            0

[1684 rows x 5 columns], '1FROZEN FOODS':               date  store_nbr        family    sales  onpromotion
id
11      2013-01-01          1  FROZEN FOODS    0.000            0
1793    2013-01-02          1  FROZEN FOODS  131.000            0
3575    2013-01-03          1  FROZEN FOODS   87.044            0
5357    2013-01-04          1  FROZEN FOODS   65.000            0
7139    2013-01-05          1  FROZEN FOODS   70.000            0
...            ...        ...           ...      ...          ...
2991989 2017-08-11          1  FROZEN FOODS   61.000            1
2993771 2017-08-12          1  FROZEN FOODS  107.794            1
2995553 2017-08-13          1  FROZEN FOODS   50.000            1
2997335 2017-08-14          1  FROZEN FOODS  110.000            0
2999117 2017-08-15          1  FROZEN FOODS   89.000            1

[1684 rows x 5 columns], '1GROCERY I':               date  store_nbr     family   sales  onpromotion
id
12      2013-01-01          1  GROCERY I     0.0            0
1794    2013-01-02          1  GROCERY I  2652.0            0
3576    2013-01-03          1  GROCERY I  2121.0            0
5358    2013-01-04          1  GROCERY I  2056.0            0
7140    2013-01-05          1  GROCERY I  2216.0            0
...            ...        ...        ...     ...          ...
2991990 2017-08-11          1  GROCERY I  1270.0           24
2993772 2017-08-12          1  GROCERY I  1630.0           28
2995554 2017-08-13          1  GROCERY I   952.0           19
2997336 2017-08-14          1  GROCERY I  2407.0           30
2999118 2017-08-15          1  GROCERY I  2508.0           29

[1684 rows x 5 columns], '1GROCERY II':               date  store_nbr      family  sales  onpromotion
id
13      2013-01-01          1  GROCERY II    0.0            0
1795    2013-01-02          1  GROCERY II   31.0            0
3577    2013-01-03          1  GROCERY II   12.0            0
5359    2013-01-04          1  GROCERY II   15.0            0
7141    2013-01-05          1  GROCERY II   30.0            0
...            ...        ...         ...    ...          ...
2991991 2017-08-11          1  GROCERY II    9.0            0
2993773 2017-08-12          1  GROCERY II   19.0            0
2995555 2017-08-13          1  GROCERY II    6.0            0
2997337 2017-08-14          1  GROCERY II   20.0            0
2999119 2017-08-15          1  GROCERY II   13.0            0

[1684 rows x 5 columns], '1HARDWARE':               date  store_nbr    family  sales  onpromotion
id
14      2013-01-01          1  HARDWARE    0.0            0
1796    2013-01-02          1  HARDWARE    3.0            0
3578    2013-01-03          1  HARDWARE    1.0            0
5360    2013-01-04          1  HARDWARE    7.0            0
7142    2013-01-05          1  HARDWARE    1.0            0
...            ...        ...       ...    ...          ...
2991992 2017-08-11          1  HARDWARE    1.0            0
2993774 2017-08-12          1  HARDWARE    0.0            0
2995556 2017-08-13          1  HARDWARE    1.0            0
2997338 2017-08-14          1  HARDWARE    0.0            0
2999120 2017-08-15          1  HARDWARE    3.0            0

[1684 rows x 5 columns], '1HOME AND KITCHEN I':               date  store_nbr              family  sales  onpromotion
id
15      2013-01-01          1  HOME AND KITCHEN I    0.0            0
1797    2013-01-02          1  HOME AND KITCHEN I    0.0            0
3579    2013-01-03          1  HOME AND KITCHEN I    0.0            0
5361    2013-01-04          1  HOME AND KITCHEN I    0.0            0
7143    2013-01-05          1  HOME AND KITCHEN I    0.0            0
...            ...        ...                 ...    ...          ...
2991993 2017-08-11          1  HOME AND KITCHEN I   27.0            1
2993775 2017-08-12          1  HOME AND KITCHEN I   17.0            0
2995557 2017-08-13          1  HOME AND KITCHEN I   13.0            0
2997339 2017-08-14          1  HOME AND KITCHEN I   50.0            0
2999121 2017-08-15          1  HOME AND KITCHEN I   30.0            0

[1684 rows x 5 columns], '1HOME AND KITCHEN II':               date  store_nbr               family  sales  onpromotion
id
16      2013-01-01          1  HOME AND KITCHEN II    0.0            0
1798    2013-01-02          1  HOME AND KITCHEN II    0.0            0
3580    2013-01-03          1  HOME AND KITCHEN II    0.0            0
5362    2013-01-04          1  HOME AND KITCHEN II    0.0            0
7144    2013-01-05          1  HOME AND KITCHEN II    0.0            0
...            ...        ...                  ...    ...          ...
2991994 2017-08-11          1  HOME AND KITCHEN II   14.0            1
2993776 2017-08-12          1  HOME AND KITCHEN II   31.0            3
2995558 2017-08-13          1  HOME AND KITCHEN II    8.0            1
2997340 2017-08-14          1  HOME AND KITCHEN II   31.0            2
2999122 2017-08-15          1  HOME AND KITCHEN II   33.0            3

[1684 rows x 5 columns], '1HOME APPLIANCES':               date  store_nbr           family  sales  onpromotion
id
17      2013-01-01          1  HOME APPLIANCES    0.0            0
1799    2013-01-02          1  HOME APPLIANCES    0.0            0
3581    2013-01-03          1  HOME APPLIANCES    2.0            0
5363    2013-01-04          1  HOME APPLIANCES    0.0            0
7145    2013-01-05          1  HOME APPLIANCES    0.0            0
...            ...        ...              ...    ...          ...
2991995 2017-08-11          1  HOME APPLIANCES    0.0            0
2993777 2017-08-12          1  HOME APPLIANCES    0.0            0
2995559 2017-08-13          1  HOME APPLIANCES    0.0            0
2997341 2017-08-14          1  HOME APPLIANCES    0.0            0
2999123 2017-08-15          1  HOME APPLIANCES    0.0            0

[1684 rows x 5 columns], '1HOME CARE':               date  store_nbr     family  sales  onpromotion
id
18      2013-01-01          1  HOME CARE    0.0            0
1800    2013-01-02          1  HOME CARE    0.0            0
3582    2013-01-03          1  HOME CARE    0.0            0
5364    2013-01-04          1  HOME CARE    0.0            0
7146    2013-01-05          1  HOME CARE    0.0            0
...            ...        ...        ...    ...          ...
2991996 2017-08-11          1  HOME CARE   74.0            5
2993778 2017-08-12          1  HOME CARE  116.0            6
2995560 2017-08-13          1  HOME CARE   61.0            4
2997342 2017-08-14          1  HOME CARE  161.0            4
2999124 2017-08-15          1  HOME CARE  156.0            4

[1684 rows x 5 columns], '1LADIESWEAR':               date  store_nbr      family  sales  onpromotion
id
19      2013-01-01          1  LADIESWEAR    0.0            0
1801    2013-01-02          1  LADIESWEAR    0.0            0
3583    2013-01-03          1  LADIESWEAR    0.0            0
5365    2013-01-04          1  LADIESWEAR    0.0            0
7147    2013-01-05          1  LADIESWEAR    0.0            0
...            ...        ...         ...    ...          ...
2991997 2017-08-11          1  LADIESWEAR    3.0            0
2993779 2017-08-12          1  LADIESWEAR    9.0            0
2995561 2017-08-13          1  LADIESWEAR    7.0            0
2997343 2017-08-14          1  LADIESWEAR   17.0            0
2999125 2017-08-15          1  LADIESWEAR    9.0            0

[1684 rows x 5 columns], '1LAWN AND GARDEN':               date  store_nbr           family  sales  onpromotion
id
20      2013-01-01          1  LAWN AND GARDEN    0.0            0
1802    2013-01-02          1  LAWN AND GARDEN   10.0            0
3584    2013-01-03          1  LAWN AND GARDEN    0.0            0
5366    2013-01-04          1  LAWN AND GARDEN    7.0            0
7148    2013-01-05          1  LAWN AND GARDEN   10.0            0
...            ...        ...              ...    ...          ...
2991998 2017-08-11          1  LAWN AND GARDEN   15.0            0
2993780 2017-08-12          1  LAWN AND GARDEN   10.0            1
2995562 2017-08-13          1  LAWN AND GARDEN    8.0            0
2997344 2017-08-14          1  LAWN AND GARDEN   27.0            0
2999126 2017-08-15          1  LAWN AND GARDEN   17.0            0

[1684 rows x 5 columns], '1LINGERIE':               date  store_nbr    family  sales  onpromotion
id
21      2013-01-01          1  LINGERIE    0.0            0
1803    2013-01-02          1  LINGERIE   13.0            0
3585    2013-01-03          1  LINGERIE   15.0            0
5367    2013-01-04          1  LINGERIE   24.0            0
7149    2013-01-05          1  LINGERIE   20.0            0
...            ...        ...       ...    ...          ...
2991999 2017-08-11          1  LINGERIE    1.0            0
2993781 2017-08-12          1  LINGERIE    8.0            0
2995563 2017-08-13          1  LINGERIE    3.0            0
2997345 2017-08-14          1  LINGERIE   21.0            0
2999127 2017-08-15          1  LINGERIE    4.0            0

[1684 rows x 5 columns], '1LIQUOR,WINE,BEER':               date  store_nbr            family  sales  onpromotion
id
22      2013-01-01          1  LIQUOR,WINE,BEER    0.0            0
1804    2013-01-02          1  LIQUOR,WINE,BEER   67.0            0
3586    2013-01-03          1  LIQUOR,WINE,BEER   66.0            0
5368    2013-01-04          1  LIQUOR,WINE,BEER  102.0            0
7150    2013-01-05          1  LIQUOR,WINE,BEER  159.0            0
...            ...        ...               ...    ...          ...
2992000 2017-08-11          1  LIQUOR,WINE,BEER   67.0            2
2993782 2017-08-12          1  LIQUOR,WINE,BEER   90.0            6
2995564 2017-08-13          1  LIQUOR,WINE,BEER   35.0            3
2997346 2017-08-14          1  LIQUOR,WINE,BEER  100.0            6
2999128 2017-08-15          1  LIQUOR,WINE,BEER   94.0            7

[1684 rows x 5 columns], '1MAGAZINES':               date  store_nbr     family  sales  onpromotion
id
23      2013-01-01          1  MAGAZINES    0.0            0
1805    2013-01-02          1  MAGAZINES    0.0            0
3587    2013-01-03          1  MAGAZINES    0.0            0
5369    2013-01-04          1  MAGAZINES    0.0            0
7151    2013-01-05          1  MAGAZINES    0.0            0
...            ...        ...        ...    ...          ...
2992001 2017-08-11          1  MAGAZINES    4.0            0
2993783 2017-08-12          1  MAGAZINES    6.0            0
2995565 2017-08-13          1  MAGAZINES    4.0            0
2997347 2017-08-14          1  MAGAZINES    8.0            0
2999129 2017-08-15          1  MAGAZINES    3.0            0

[1684 rows x 5 columns], '1MEATS':               date  store_nbr family      sales  onpromotion
id
24      2013-01-01          1  MEATS    0.00000            0
1806    2013-01-02          1  MEATS  369.10100            0
3588    2013-01-03          1  MEATS  272.31900            0
5370    2013-01-04          1  MEATS  454.17200            0
7152    2013-01-05          1  MEATS  328.94000            0
...            ...        ...    ...        ...          ...
2992002 2017-08-11          1  MEATS  385.99402           38
2993784 2017-08-12          1  MEATS  211.75600            0
2995566 2017-08-13          1  MEATS   88.18200            0
2997348 2017-08-14          1  MEATS  192.76300            0
2999130 2017-08-15          1  MEATS  274.17600            0

[1684 rows x 5 columns], '1PERSONAL CARE':               date  store_nbr         family  sales  onpromotion
id

In [5]:
#zgrupowanie danych po dniu roku
temp_df = dataset_dict["10BABY CARE"]
print(temp_df)
temp_df=temp_df.loc[pd.to_datetime(temp_df['date']).dt.dayofyear == 1]
print(temp_df)

              date  store_nbr     family  sales  onpromotion
id
34      2013-01-01         10  BABY CARE    0.0            0
1816    2013-01-02         10  BABY CARE    0.0            0
3598    2013-01-03         10  BABY CARE    0.0            0
5380    2013-01-04         10  BABY CARE    0.0            0
7162    2013-01-05         10  BABY CARE    0.0            0
...            ...        ...        ...    ...          ...
2992012 2017-08-11         10  BABY CARE    0.0            0
2993794 2017-08-12         10  BABY CARE    0.0            0
2995576 2017-08-13         10  BABY CARE    0.0            0
2997358 2017-08-14         10  BABY CARE    0.0            0
2999140 2017-08-15         10  BABY CARE    0.0            0

[1684 rows x 5 columns]
              date  store_nbr     family  sales  onpromotion
id
34      2013-01-01         10  BABY CARE    0.0            0
648682  2014-01-01         10  BABY CARE    0.0            0
1297330 2015-01-01         10  BABY CARE    0.0            0
1945978 2016-01-01         10  BABY CARE    0.0            0
2596408 2017-01-01         10  BABY CARE    0.0            0